@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro-Medium.eot");
	src: local("Cera Pro Medium"), local("CeraPro-Medium"),
		url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff"),
		url("../fonts/CeraPro-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro-Bold.eot");
	src: local("Cera Pro Bold"), local("CeraPro-Bold"),
		url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff"),
		url("../fonts/CeraPro-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Cera Pro";
	src: url("../fonts/CeraPro-Regular.eot");
	src: local("Cera Pro Regular"), local("CeraPro-Regular"),
		url("../fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff"),
		url("../fonts/CeraPro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: "Cera Pro";
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 26px;
	line-height: 30px;
	font-weight: normal;
}
.wrapper {
	width: 100%;
	overflow: hidden;
}
.container {
	width: 100%;
}
.menu {
	top: 50%;
	transform: translate(0, -50%);
}

.book {
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	&__img {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px -12px;
		margin-right: 50px;
	}

	&__img-img {
		min-width: 430px;
	}

	&__content {
	}

	&__text-short {
		display: flex;
		justify-content: space-between;
	}

	&__act-img {
		width: 100px;
	}

	&__text {
	}

	
}
.shadow-page {
	--tw-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.25);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.bg-img {
	background: url(../img/circle.png) no-repeat;
	background-size: contain;
}
.bg-img2 {
	background: url(../img/circle2.png) no-repeat;
	background-size: contain;
}
.bg-img3 {
	background: url(../img/circle3.png) no-repeat;
	background-size: contain;
}
.bg-img4 {
	background: url(../img/circle4.png) no-repeat;
	background-size: contain;
}
.bg-img5 {
	background: url(../img/circle5.png) no-repeat;
	background-size: contain;
}
.big-number {
	position: absolute;
	left: -10px;
	top: 60px;
	font-size: 130px;
	color: #8c8e91;
	text-shadow: 3px 3px 10px #000;
}
.blue-text {
	color: #4496b6;
}
.li-circle::before {
	position: absolute;
	content: "";
	left: 40px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #000;
	top: 14px;
}
.swiper-button-prev1,
.swiper-button-prev2,
.swiper-button-prev3 {
	border: 20px solid transparent;
	border-right: 20px solid green;
	left: 0;
	top: 400px;
	position: absolute;
	z-index: 2;
}
.swiper-button-next1,
.swiper-button-next2,
.swiper-button-next3 {
	border: 20px solid transparent;
	border-left: 20px solid green;
	right: 0;
	top: 400px;
	position: absolute;
	z-index: 2;
}
.swiper-button-next3,
.swiper-button-prev3 {
	top: 50%;
	transform: translate(0, 50%);
}
.women-img {
	min-width: 570px;
}
.about-me__text {
	max-width: 500px;
	font-size: 30px;
	line-height: 40px;
}
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	transition: all 0.8s ease 0s;
	z-index: 100;
	font-family: none;
	&:target {
		opacity: 1;
		visibility: visible;
	}
	&:target .popup__content {
		transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
		opacity: 1;
	}
	&__area {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&__close {
		background: url(../img/krest.png) 0 0 / 100% no-repeat;
		position: absolute;
		right: 22px;
		top: 22px;
		width: 40px;
		height: 40px;
		transition: all 0.3s ease-in-out 0s;
	}
	&__close:hover {
		transform: rotate(180deg);
	}
	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;
	}
	&__content {
		position: relative;
		
		background: #ecf0f0;
		color: #666;
		max-width: 800px;
		padding: 35px 85px 58px 85px;
		position: relative;
		transition: all 0.8s ease 0s;
		opacity: 0;
		border-radius: 20px;
		transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
	}
	
	&__form {
		display: flex;
		flex-direction: column;
	}
	
	&__input {
		border: 2px solid #888c8e;border-radius: 20px;
		font-size: 22px;
		padding: 10px;padding-left: 15px;
		max-height: 150px;
		letter-spacing: 0.1em;
	}
	&__input::placeholder {
		font-size: 22px;
	}
}
// .popup * {
// 	color: #c9c9c9;
// }
.standart__button {
	font-size: 36px;
	color: #fff;
	width: 100%;
	max-width: 350px;

	border-radius: 35px;

	display: flex;

	align-items: center;

	justify-content: center;

	line-height: 70px;
	background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
}