@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("Cera Pro Medium"), local("CeraPro-Medium"), url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("Cera Pro Bold"), local("CeraPro-Bold"), url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Bold.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("Cera Pro Regular"), local("CeraPro-Regular"), url("../fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  font-family: "Cera Pro";
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 26px;
  line-height: 26px;
  font-weight: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
}

.book {
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book__img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px -12px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px -12px;
  margin-right: 50px;
}

.book__img-img {
  min-width: 370px;
}

.book__text-short {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book__act-img {
  width: 100px;
}

.book__button {
  font-size: 36px;
  color: #fff;
  width: 100%;
  max-width: 350px;
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 70px;
  background: -webkit-gradient(linear, left top, right top, from(#52a0fd), color-stop(80%, #00e2fa), to(#00e2fa));
  background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
}

.bg-img {
  background: url(../img/circle.png) no-repeat;
  background-size: contain;
}

.bg-img2 {
  background: url(../img/circle2.png) no-repeat;
  background-size: contain;
}

.bg-img3 {
  background: url(../img/circle3.png) no-repeat;
  background-size: contain;
}

.bg-img4 {
  background: url(../img/circle4.png) no-repeat;
  background-size: contain;
}

.bg-img5 {
  background: url(../img/circle5.png) no-repeat;
  background-size: contain;
}

.big-number {
  position: absolute;
  left: -10px;
  top: 60px;
  font-size: 130px;
  color: #8c8e91;
  text-shadow: 3px 3px 10px #000;
}

.blue-text {
  color: #4496b6;
}

.swiper-button-prev1,
.swiper-button-prev2 {
  border: 20px solid transparent;
  border-right: 20px solid green;
  left: 0;
  top: 400px;
  position: absolute;
  z-index: 2;
}

.swiper-button-next1,
.swiper-button-next2 {
  border: 20px solid transparent;
  border-left: 20px solid green;
  right: 0;
  top: 400px;
  position: absolute;
  z-index: 2;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 100;
  font-family: none;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__close {
  background: url(../img/cross.png) 0 0/100% no-repeat;
  position: absolute;
  right: 42px;
  top: 35px;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.8s ease-in-out 0s;
  transition: all 0.8s ease-in-out 0s;
}

.popup__close:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  position: relative;
  width: 729px;
  height: 600px;
  background: #1e2026;
  color: #666;
  max-width: 800px;
  padding: 35px 85px 58px 85px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__content2 {
  height: 517px;
}

.popup__title {
  text-transform: uppercase;
  max-width: 227px;
  text-align: center;
  margin: 0 auto 55px auto;
  line-height: 22px;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__name {
  margin-bottom: 36px;
}

.popup__name2 {
  margin-bottom: 46px;
}

.popup__input {
  background-color: transparent;
  border-bottom: 2px solid #888c8e;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 25px;
  line-height: 22px;
  letter-spacing: 0.1em;
}

.popup__mail {
  margin-bottom: 38px;
}

.popup__tel {
  margin-bottom: 28px;
}

.popup__privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__checkbox-label {
  margin-right: 16px;
}

.popup__text {
  font-size: 10px;
  max-width: 321px;
  line-height: 12px;
  letter-spacing: 0.1em;
  margin-bottom: 72px;
  margin-left: 16px;
}

.popup * {
  color: #c9c9c9;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
