@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 bg-blue-600 text-white rounded;
  }
}
@layer utilities {
  * {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 50px;
}

p {
  font-size: 20px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
}

.book {
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book__img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px -12px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 50px -12px;
  margin-right: 50px;
}

.book__img-img {
  width: 400px;
}

.book__text-short {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book__act-img {
  width: 100px;
}

.book__button {
  font-size: 26px;
  color: #fff;
  width: 100%;
  max-width: 250px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#52a0fd), color-stop(80%, #00e2fa), to(#00e2fa));
  background: linear-gradient(to right, #52a0fd 0%, #00e2fa 80%, #00e2fa 100%);
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 788px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1044px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1626px) {
  .container {
    max-width: 1536px;
  }
}

}