* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-width: 100%;
  background-color: rgba(254, 144, 144, 0.1);
  min-height: 100%;
}

button {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button:hover {
  -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px);
}

.sort-buttons {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}

.question__button {
  font-size: 18px;
  width: 260px;
  height: 55px;
  background: -webkit-gradient(linear, left top, right top, from(#f6bd60), to(#e88952));
  background: linear-gradient(90deg, #f6bd60 0%, #e88952 100%);
  color: #fff;
  border-radius: 50px 50px;
}

.grid-layout {
  width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 10px;
  margin-bottom: 50px;
}

.grid-element {
  width: 290px;
  height: 290px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  font-size: 35px;
}

.grid-element__red {
  background: #cc8888;
}

.grid-element__green {
  background: #68ad68;
}

.grid-element__purple {
  background: #b960b9;
}

._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0;
}
