body {
	font-family: "GothamLight";
}
.header__logo p {
	line-height: 16px;
}
.icon__link {
	opacity: 1;
	background-color: rgb(180, 36, 36);
}
.button__with-decor {
	box-sizing: content-box;
}
.header__content .container {
	padding: 170px 0 0 0;
}
.aim__img,
.aim__img2,
.aim__img3,
.aim__img4 {
	width: 180px;
	margin: 0px 0 10px 0;
}
.aim__img {
	transform: rotate(-40deg);
}
.aim__img2 {
	transform: rotate(220deg);
}
.aim__img3 {
	transform: rotate(130deg);
}
.aim__img4 {
	transform: rotate(170deg);
}
.button__decor2 {
	left: 94%;
}
.pr20 {
	padding-right: 20px;
}
.mb40 {
	margin-bottom: 40px;
}
.mt20 {
	margin-top: 20px;
}
.underline {
	text-decoration: underline;
}
.learn__text-text a {
	color: white;
}
.aim__image {
	justify-content: space-between;
	max-width: 460px;
}
.aim__block-item {
	position: relative;
}
.aim__img-center {
	width: 95px;
	position: absolute;
	top: 60px;
	left: 55px;
}
.aim__img-center2 {
	width: 100px;
	position: absolute;
	top: 28px;
	left: 35px;
}
.aim__img-center3 {
	width: 100px;
	position: absolute;
	top: 48px;
	left: 30px;
}
.aim__img-center4 {
	width: 100px;
	position: absolute;
	top: 38px;
	left: 30px;
}
.aim__block-item-mb50 {
	margin-bottom: 50px;
}
.aim__block-item p {
	font-size: 19px;
}
.price__container {
	z-index: 3;
	position: relative;
}
.form__price-wrapper {
	z-index: -2;
	position: relative;
}
@media (max-width: 1700px) {
	.header__content .container {
		padding: 70px 0 0 0;
	}
}
input[type="number"] {
	-moz-appearance: textfield;
}

input[type="range"] {
	width: 100%;
	overflow: visible;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type="range"]:focus {
	outline: none;
}
input[type="range"] {
	width: 100%;
	-webkit-appearance: none;
	background-color: #fff;
	height: 2px;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: ew-resize;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #bc4f54;
}
.input-wrapper input[type="number"] {
	width: 80px;
	text-align: center;
	padding-left: 15px;
	background-color: rgb(199, 199, 199);
	border-radius: 5px;
	height: 34px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #071124;
	margin-left: 50%;
	transform: translate(-50%, 0);
}
.input-wrapper {
	margin-top: 20px;
}
.content__text {
	width: 45%;
	max-width: 560px;
	padding: 33px 49px 50px 50px;
}

.text__block2 {
	width: 55%;
}
@media (max-width: 575px) {
	.header__title {
		h1 {
			.header__span-1 {
				font-size: 26px;
				margin-bottom: 5px;
			}
			.header__span-2 {
				font-size: 24px;
				margin-bottom: 10px;
			}
			.header__span-3 {
				font-size: 20px;
			}
		}
	}
	.header__button {
		margin-top: 33px;
	}
	.container {
		width: 100%;
	}
	.header__block-1 {
		display: flex;
		max-width: 340px;
		justify-content: space-around;
	}
	.header__image .header__main {
		position: absolute;
		right: 120px;
		top: -100px;
		width: 200px;
	}
	.header__image .header__ellipse {
		width: 200px;
		right: 120px;
		top: -100px;
	}
	.header__block-2 {
		align-self: flex-end;
		max-width: 120px;
	}
	.header__block p span {
		font-size: 24px;
	}
	.header__block p {
		font-size: 12px;
		max-width: 140px;
	}
	.main__button button {
		margin-bottom: 20px;
	}
	.school {
		padding-top: 60px;
		padding-bottom: 100px;
	}
	.school__content {
		margin-top: 30px;
	}
	.time__container {
		flex-direction: column;
		align-items: start;
	}
	.time__decor {
		width: 20px;
		height: 20px;
		margin-top: -20px;
		img {
			max-width: 100%;
			margin-bottom: 20px;
		}
	}
	.time__text {
		margin-top: 20px;
		width: 100%;
		p {
			font-size: 22px;
		}
	}
	.time__image-2{    margin: 30px 0 -20px 0;}
	.aim__title h2 {font-size: 22px;}
	.aim__subtitle h3 {font-size: 18px;}
	.aim__par p{font-size: 18px;max-width: 240px;}
	.aim__par{margin-top: 30px;}
}
