@font-face {
  font-family: 'GothamMedium';
  src: url(../font/Gotham-Medium.ttf);
}
@font-face {
  font-family: 'GothamXLight';
  src: url(../font/Gotham-XLight.ttf);
}
@font-face {
  font-family: 'GothamBook';
  src: url(../font/Gotham-Book.ttf);
}
@font-face {
  font-family: 'GothamLight';
  src: url(../font/Gotham-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
}
input:focus {
  overflow: hidden;
}
a {
  text-decoration: none;
}
.body__wrapper {
  overflow: hidden;
}
body {
  background-color: #2D2926;
}
.header {
  height: 100vh;
  position: relative;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto auto;
  position: fixed;
  width: 100%;
  transition-duration: 600ms;
  z-index: 20;
}
.menu-mobile {
  display: none;
}
.header__logo {
  display: flex;
  align-items: center;
  position: relative;
}
.header__logo p {
  font-family: 'GothamMedium';
  margin: 0 0 0 6px;
  z-index: 1;
  padding: 23px 0 0 12.5px;
  font-size: 10px;
}
.header__modal-click {
  cursor: pointer;
}
.header__logo-logo {
  z-index: 1;
  padding: 12.5px 0 0 12.5px;
}
.menu__logo-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.header__link ul {
  padding: 12.5px 12.5px 12.5px 0;
  display: flex;
  list-style: none;
  gap: 46px;
}
.header__link-item a {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: white;
  font-weight: bold;
  transition-duration: 300ms;
}
.header__link-item a:hover {
  color: #bbbbbb;
}
.header__link-burger {
  display: none;
}
.menu__logo-back {
  z-index: -1;
  width: 500px;
}
.header__content {
  position: relative;
  z-index: 2;
}
.header__content .container {
  max-width: 1170px;
  padding: 70px 0 0 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header__subtitle {
  margin: 60px 0 0 0;
}
.header__subtitle h3 {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 21px;
  opacity: 1;
  color: white;
  display: flex;
}
.header__subtitle h3 .icon__link {
  padding: 0 9px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  margin: 0 0 0 10px;
  color: black;
  font-size: 16px;
  z-index: 100;
}
.header__subtitle h3 .icon__link::after {
  background-color: white;
  border-radius: 10px;
  color: black;
  content: 'Пройди обучение за 30 дней, получи диплом, трудоустройство и плати потом';
  position: absolute;
  margin: 30px 0 0 0;
  left: 29%;
  width: 200px;
  padding: 10px;
  font-size: 12px;
  font-family: 'GothamMedium';
  line-height: 1.3;
  opacity: 0;
  transition-duration: 300ms;
  margin-top: -100px;
}
.header__subtitle h3 .icon__link:hover::after {
  opacity: 1;
}
.header__title {
  margin: 25px 0 0 0;
  max-width: 600px;
}
.header__title h1 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
}
.header__span-1 {
  font-size: 41px;
  line-height: 1.5;
  display: block;
}
.header__span-2 {
  font-size: 39px;
  line-height: 1.5;
  display: block;
}
.header__span-3 {
  font-size: 32px;
  line-height: 1.5;
  display: block;
}
.header__block {
  position: relative;
  display: flex;
  max-width: 400px;
  justify-content: space-between;
}
.header__block p {
  margin: 50px 0 0 0;
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 15px;
  color: white;
  opacity: 1;
  line-height: 1.7;
}
.header__block p span {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 29px;
  color: white;
}
.header__block-1,
.header__block-2 {
  max-width: 190px;
}
.header__button {
  margin: 40px 0 0 0;
}
.button-mobile {
  display: none;
}
.main__button {
  cursor: pointer;
}
.main__button button {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  border: none;
  width: 300px;
  height: 65px;
  background: #BC4F54;
  border-radius: 5px;
  border-top-right-radius: 20px;
  color: white;
  transition-duration: 300ms;
}
.main__button button:hover {
  background: none;
  outline: 1px solid white;
}
.header__image {
  position: relative;
  background-size: 100%;
  width: 50%;
  margin: 30px 0 0 40px;
}
.header__image .header__main {
  width: 100%;
  z-index: 1;
}
.header__image .header__sales {
  width: 100%;
}
.header__image p {
  font-family: 'GothamMedium';
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  top: 73%;
  left: 15px;
}
.header__image p span {
  font-size: 40px;
  display: block;
}
.header__effect {
  position: absolute;
  z-index: -1;
  left: 80px;
  transform: rotate(-20deg);
  width: 100%;
}
.header__ellipse {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.header__sales {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 100%;
  left: -40%;
  transform: translate(0, -100%);
  z-index: 1;
}
.school {
  padding: 100px 0 200px 0;
  background-color: #1F1C1A;
  z-index: -2;
}
.school__container {
  max-width: 1170px;
  margin: auto auto;
}
.school__title {
  max-width: 792px;
}
.school__title h2 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 110%;
  color: white;
}
.school__subtitle {
  margin: 25px 0 0 0;
  max-width: 750px;
}
.school__subtitle h3 {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 170%;
  color: white;
  opacity: 1;
}
.school__content {
  display: flex;
  margin: 60px 0 0 0;
  justify-content: space-between;
}
.school__image {
  width: 50%;
}
.school__image img {
  width: 100%;
}
.school-mobile {
  display: none;
}
.school__text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.school__text-group {
  display: flex;
}
.school__text-title {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: white;
  max-width: 240px;
  margin: 0 0 0 15px;
}
.school__text-text {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: white;
  max-width: 440px;
  margin: 13px 0 0 0;
  opacity: 0.8;
}
.time {
  background: #F2DDDE;
}
.time__image-1 {
  margin: -80px 0 9px 0;
  width: 100%;
}
.time__image-2 {
  margin: 9px 0 -100px 0;
  width: 100%;
  transform: scaleY(-1);
}
.time__container {
  max-width: 1170px;
  margin: auto auto;
  display: flex;
  align-items: flex-end;
}
.time__decor {
  width: 25%;
}
.time__text {
  width: 75%;
}
.time__text p {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  line-height: 130%;
  max-width: 750px;
}
.time__text p span {
  font-family: 'GothamMedium';
}
.aim {
  padding: 0 0 115px 0;
  position: relative;
}
.aim__back {
  position: absolute;
  top: -35%;
  left: 90%;
  transform: translate(-90%);
  z-index: -1;
}
.aim__container {
  max-width: 1170px;
  margin: auto auto;
}
.aim__title {
  margin: 200px 0 0 0;
}
.aim__title h2 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 150%;
  color: white;
  max-width: 700px;
}
.aim__subtitle {
  margin: 20px 0 0 0;
}
.aim__subtitle h3 {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  max-width: 667px;
  color: white;
  opacity: 1;
}
.aim__par {
  margin: 70px 0 0 0;
}
.aim__par p {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: white;
}
.aim__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0 0 0;
}
.aim__image {
  width: 45%;
  display: flex;
}
.aim__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aim__block-item {
  text-align: center;
}
.aim__block-item p {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: white;
  max-width: 115px;
  margin: auto auto;
  opacity: 0.8;
}
.aim__back-block {
  max-width: 360px;
  height: 229px;
  background: #1F1C1A;
  padding: 43px 50px;
  border-radius: 5px;
  position: relative;
}
.aim__icon-1 {
  position: absolute;
  top: 25px;
  left: 0;
}
.aim__icon-2 {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
}
.aim__text-block {
  display: flex;
  align-items: center;
  margin: 24px 0 0 0;
}
.aim__text-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #423C38;
  margin: 0 20px 0 0;
}
.aim__text-image img {
  max-width: 100%;
  border-radius: 50%;
}
.aim__text-title {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: white;
  opacity: 0.9;
}
.aim__text-name {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: white;
}
.aim__text-about {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: white;
  opacity: 0.7;
  width: 197px;
}
.invit {
  background: url(../img/invit__back.svg) no-repeat 70% 150px;
  background-color: #1F1C1A;
  padding: 100px 0 210px 0;
}
.invit__container {
  max-width: 1170px;
  margin: auto auto;
}
.invit__title h2 {
  color: white;
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 110%;
}
.invit__link {
  margin: 60px 0 0 0;
  cursor: pointer;
  position: relative;
}
.invit__link img {
  max-width: 100%;
}
.animate__block {
  position: absolute;
  left: 17%;
  top: 5%;
  transform: translate(-20%, -5%);
}
.animate__block img {
  transform: rotate(45deg);
}
.animate__block .animate__arrow {
  transition-duration: 500ms;
  max-width: 70px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.animate__block p {
  margin: -20px 0 0 0;
  color: white;
  opacity: 0.9;
  font-family: 'GothamLight';
  width: 140px;
  transform: rotate(7deg);
}
.invit__button {
  margin: 60px 0 0 0;
}
.price__block-back {
  z-index: 2;
}
.price {
  position: relative;
  background-color: #F2DDDE;
  padding: 50px 0;
}
.price__container {
  max-width: 1170px;
  margin: auto auto;
}
.price__title {
  z-index: 2;
}
.price__title h2 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 110%;
  color: #2D2926;
  z-index: 2;
}
.price__about {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 50px 0 0 0;
}
.price__block-1 {
  width: 25%;
}
.price__block-1 p {
  width: 260px;
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  color: #2D2926;
  background: url(../img/icon/price-icon.svg) no-repeat;
  background-position: 0px 7px;
  padding: 0 0 0 25px;
}
.price__block-1 p span {
  padding: 0 7px ;
  background: #2D2926;
  border-radius: 50%;
  color: white;
  font-size: 14px;
}
.price__block-1 p span::after {
  content: 'Оформляем рассрочку без первого взноса';
  width: 160px;
  background: white;
  padding: 8px;
  position: absolute;
  color: black;
  margin: -10px 0 0 20px;
  font-size: 12px;
  border-radius: 7px;
  line-height: 1.3;
  font-family: 'GothamBook';
  transition-duration: 300ms;
  opacity: 0;
}
.price__block-1 p span:hover::after {
  opacity: 1;
}
.price__par-2 {
  margin: 26px 0 0 0;
}
.price__block-2 {
  width: 25%;
}
.price__block-2 p {
  width: 180px;
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #716f6d;
  text-decoration: line-through;
}
.price__block-2 p span {
  font-size: 20px;
  font-family: 'GothamMedium';
}
.price__block-3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.price__block-3 p {
  width: 220px;
}
.price__par-title {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #2D2926;
  font-weight: bold;
}
.price__par-text {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #2D2926;
  margin: 7px 0 0 0;
}
.price__form {
  background: #161616;
  padding: 50px 60px;
  border-radius: 15px;
  margin: 45px 0 0 0;
}
.form__title {
  color: white;
  font-family: 'GothamMedium';
  font-weight: bold;
}
.form__block {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
}
.form__block input {
  width: 22%;
  height: 50px;
  border: 1.5px solid white;
  border-radius: 5px;
  padding: 0 0 0 10px;
  background: none;
  color: white;
  font-size: 16px;
}
.form__block input:focus {
  outline: none;
}
.form__button {
  width: 22%;
  background: #BC4F54;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.form__check {
  display: flex;
  align-items: center;
}
.form__check p {
  margin: 0 0 0 5px;
  color: white;
  font-size: 16px;
}
.form__check p a {
  color: white;
  font-size: 16px;
}
.price__back {
  position: absolute;
  width: 287px;
  top: -100px;
  left: 64%;
  transform: translate(-70%);
  z-index: 4;
}
.price__back-2 {
  top: -7%;
}
.price__block-back {
  background: #F2DDDE;
}
.price__block-back2 {
  padding: 15px;
  box-shadow: 0 0 15px 3px #bbbbbb;
  border-radius: 10px;
  background: #F2DDDE;
  position: relative;
  z-index: 5;
}
.price__block-back3 {
  z-index: 100;
  position: relative;
}
.price__sales {
  position: absolute;
  top: 17%;
  left: 49%;
  transform: translate(-50%);
  z-index: 5;
}
.price__back-top {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
}
.price__back-bottom {
  position: absolute;
  top: 99%;
  left: 0;
  transform: scaleY(-1);
  width: 100%;
}
.price__final {
  text-align: center;
  margin: 60px 0 0 0;
  display: flex;
  justify-content: center;
}
.price__final .icon__link {
  padding: 0px 8px;
  border-radius: 50%;
  text-align: center;
  background: #201f1f;
  color: white;
  margin: 0 0 0 10px;
  font-size: 15px;
}
.price__final .icon__link::after {
  position: absolute;
  width: 200px;
  content: 'Всего в программе — 18 курсов. Вы пройдёте первый курс за 30 дней. Мы сразу выдадим диплом и трудоустроим вас.';
  font-size: 12px;
  padding: 10px;
  background-color: white;
  margin: -25px 0 0 20px;
  border-radius: 10px;
  color: black;
  line-height: 1.3;
  font-family: 'GothamBook';
  box-shadow: 0 0 10px 5px #b9b9b9;
  opacity: 0;
  transition-duration: 300ms;
}
.price__final .icon__link:hover::after {
  opacity: 1;
}
.price__final p {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  color: #2D2926;
  font-weight: bold;
}
.gifts {
  padding: 220px 0 160px 0;
}
.gifts__container {
  position: relative;
  max-width: 1170px;
  margin: auto auto;
}
.gifts__title h2 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 150%;
  max-width: 600px;
  color: #FFFFFF;
}
.gifts__text {
  margin: 43px 0 0 0;
}
.gifts__text p {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 475px;
  opacity: 1;
}
.gifts__par-2 {
  margin: 36px 0 0 0;
}
.gifts-mobile {
  display: none;
}
.gifts__button {
  margin: 35px 0 0 0;
}
.gifts__button button {
  font-family: 'GothamMedium';
}
.gifts__image {
  position: absolute;
  top: 39%;
  left: 85%;
  width: 503px;
  height: 503px;
  transform: translate(-100%, -20%);
  z-index: -1;
}
.gifts__left-text {
  max-width: 116px;
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #2D2926;
  transform: rotate(12.86deg);
  position: absolute;
  top: 86%;
  left: 40%;
  z-index: 1;
}
.gifts__left {
  position: absolute;
  top: 73%;
  left: 46%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #F2DDDE;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-58%);
  outline-offset: -10px;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.learn {
  background: #1F1C1A;
  padding: 100px 0;
}
.learn__container {
  max-width: 1170px;
  margin: auto auto;
}
.learn__title h2 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 110%;
  color: #FFFFFF;
}
.learn__subtitle {
  margin: 20px 0 0 0;
}
.learn__subtitle h3 {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 845px;
  opacity: 0.7;
}
.learn__link {
  margin: 20px 0 0 0;
}
.learn__link p {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.7;
}
.learn__link p a {
  text-decoration: underline;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.7;
}
.learn__info {
  margin: 60px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.learn__image {
  width: 55%;
}
.learn__image img {
  width: 100%;
}
.learn-mobile {
  display: none;
}
.learn__text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.learn__text-block-1 {
  background: url(../img/icon/learn-icon-1.svg) no-repeat;
  padding: 110px 0 0 0;
}
.learn__text-block-2 {
  background: url(../img/icon/learn-icon-2.svg) no-repeat;
  padding: 110px 0 0 0;
}
.learn__text-block-3 {
  background: url(../img/icon/learn-icon-3.svg) no-repeat;
  padding: 110px 0 0 0;
}
.learn__text-block-4 {
  background: url(../img/icon/learn-icon-4.svg) no-repeat;
  padding: 110px 0 0 0;
}
.learn__text-title {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
}
.learn__text-text {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 14px 0 0 0;
  opacity: 1;
}
.team__title p {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 110%;
  color: #FFFFFF;
  margin: 61px 0 7px 0;
}
.team__content {
  display: flex;
  justify-content: space-between;
  margin: 43px 0 0 0;
}
.team__block {
  width: 22%;
  cursor: pointer;
}
.team__block img {
  max-width: 100%;
}
.team__button {
  width: 150px;
  height: 45px;
  border: 2px solid #F2DDDE;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  background: #F2DDDE;
  cursor: pointer;
  margin: 24px 0 0 0;
  transition-duration: 300ms;
}
.team__button:hover {
  background: none;
  color: white;
}
.team__name {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 17px 0 0 0;
}
.team__text {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 1;
  margin: 32px 0 0 0;
}
.result {
  padding: 100px 0 0 0;
}
.result__container {
  max-width: 1170px;
  margin: auto auto;
}
.result__title h2 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 110%;
  color: #FFFFFF;
}
.result__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0 0 0;
}
.result__block {
  width: 45%;
  margin: 45px 0 0 0;
}
.result__text-1 {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 30px 0 0 0;
}
.result__text-2 {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  max-width: 575px;
  color: #FFFFFF;
  opacity: 1;
  margin: 14px 0 0 0;
}
.result__image {
  text-align: center;
  margin: -100px 0 0 0;
}
.result__image img {
  max-width: 100%;
}
.calc {
  padding: 100px 0 150px 0;
  background: #1F1C1A;
}
.calc__container {
  max-width: 1170px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calc__title h2 {
  font-size: 38px;
  color: white;
  text-align: center;
  font-family: 'GothamLight';
  line-height: 1.55;
}
.calc__block {
  padding: 30px 55px !important;
  background-color: #2D2926;
  width: 460px;
  margin: 50px auto 0 auto;
  border-radius: 5px;
  border: none;
}
.block__value {
  display: flex;
  justify-content: space-between;
}
.block__value p {
  color: white;
}
.block__title {
  color: #ffffff;
  font-weight: 400;
  font-family: 'FuturaGotham';
  font-size: 20px;
  margin: 15px 0 0 0;
}
.block__subtitle {
  color: #ffffff;
  font-family: FuturaGotham;
  opacity: 0.8;
  font-size: 12px;
  margin: 5px 0 0 0;
}
.block__result {
  margin: 10px 0 0 0;
}
.block__result p {
  color: white;
  font-size: 16px;
}
.star {
  background-color: #2D2926;
  padding: 100px 0 150px 0;
  position: relative;
}
.star__decor {
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
}
.star__container {
  max-width: 1170px;
  margin: auto auto;
}
.star__title h2 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 110%;
  color: #FFFFFF;
}
.star__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
.star__image {
  width: 50%;
}
.star__image img {
  max-width: 100%;
}
.star-mobile {
  display: none;
}
.image-1 {
  background: url(../img/star__ellipse.svg) no-repeat center, url(../img/star__back.svg) no-repeat center center / 100%;
}
.image-2 {
  background: url(../img/star__ellipse-2.svg) no-repeat center, url(../img/star__back.svg) no-repeat center center / 100%;
}
.star__text {
  width: 45%;
}
.star__text-title {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
}
.star__text-text {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.8;
  max-width: 500px;
  margin: 26px 0 0 0;
  background: url(../img/icon/star__icon.svg) no-repeat 0 5px;
  padding: 0 0 0 35px;
}
.star__text-par {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.8;
  max-width: 500px;
  margin: 26px 0 0 0;
}
.price__back-2 {
  position: absolute;
  width: 430px;
  top: -64px;
  left: 65%;
  transform: translate(-74%);
  z-index: 4;
}
.price__back3 {
  width: 400px;
  top: -110px;
  left: 61%;
}
.prime {
  background-color: #1F1C1A;
  padding: 200px 0 100px 0;
}
.prime__container {
  max-width: 1170px;
  margin: auto auto;
}
.prime__title h2 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 110%;
  color: #FFFFFF;
}
.prime__image {
  margin: 60px 0 0 0;
}
.prime__image img {
  max-width: 100%;
}
.prime__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1070px;
  margin: -230px 0 0 0;
}
.content__image {
  background: url(../img/prime__content-image.svg) no-repeat -10px -30px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.content__image p {
  max-width: 210px;
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #2D2926;
}
.content__text {
  width: 50%;
  background: #2D2926;
  padding: 33px 19px 50px 50px;
  border-radius: 8px;
}
.content__text p {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 17px 0 0 0;
  max-width: 450px;
}
.content__text p span {
  color: white;
  font-family: 'GothamMedium';
}
.content__text p a {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 17px 0 0 0;
  text-decoration: underline;
}
.content__text p:last-child {
  max-width: 350px;
}
.content__button {
  margin: 24px 0 0 0;
  width: 300px;
  height: 65px;
  background: #F2DDDE;
  border-radius: 5px;
  border: none;
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #2D2926;
  border-top-right-radius: 15px;
  cursor: pointer;
  transition-duration: 300ms;
}
.content__button:hover {
  background: none;
  color: white;
  border: 1px solid white;
}
.brand {
  padding: 100px 0;
}
.brand__container {
  max-width: 1170px;
  margin: auto auto;
}
.brand__title h2 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 110%;
  color: #FFFFFF;
}
.brand__subtitle h3 {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 20px 0 0 0;
}
.brand__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.brand__block {
  width: 33%;
  text-align: center;
}
.brand__block p {
  margin: 10px 0 0 0;
  font-size: 18px;
  font-family: 'GothamMedium';
  color: white;
}
.brand__video {
  margin: 60px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.video__block {
  width: 47%;
}
.video__block img {
  max-width: 100%;
}
.video__block p {
  margin: 25px 0 25px 0;
  color: white;
  opacity: 0.8;
  font-size: 18px;
  font-family: 'GothamLight';
}
.diplom {
  padding: 100px 0 200px 0;
  background: #1F1C1A;
}
.diplom__container {
  max-width: 1170px;
  margin: auto auto;
  position: relative;
}
.diplom__title h2 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 110%;
  color: #FFFFFF;
}
.diplom__subtitle h3 {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 20px 0 0 0;
}
.diplom__image {
  position: relative;
  margin: 40px 0 0 -40px;
  background: url(../img/diplom__back.svg) no-repeat 200px top / 40%;
}
.diplom__image img {
  width: 44%;
}
.animate__block-2 {
  position: absolute;
  left: 70%;
  top: 35%;
  transform: translate(-70%, -35%);
}
.animate__block-2 .animate__arrow-wrapper {
  margin-top: -50px;
  padding-left: 20px;
  margin-right: -20px;
}
.animate__block-2 .animate__arrow-img {
  margin: 0px 0px 0 -50px;
  transition-duration: 700ms;
}
.animate__block-2 .animate__arrow-img img {
  transform: rotate(-90deg);
}
.animate__block-2 p {
  font-size: 18px;
  color: white;
  font-family: 'GothamLight';
  width: 200px;
  transform: rotate(-15deg);
  position: relative;
  top: -70px;
}
.diplom__text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 65%;
}
.text__block {
  width: 45%;
  margin: 20px 0 0 0;
}
.text__title {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
}
.text__text {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 16px 0 0 0;
}
.diplom__galery {
  position: absolute;
  left: 95%;
  top: 100%;
  transform: translate(-95%, -100%);
  background: url(../img/diplom__galery-back.png) no-repeat center / 100%;
  width: 297px;
  height: 600px;
}
.diplom__galery-wrapper {
  position: static;
  height: 100%;
}
.diplom__galery-wrapper .galery__main-img {
  max-width: 235px;
  margin: 77px auto 0 auto;
  max-height: 495px;
  margin-left: 30px;
}
.swiper-container {
  position: static;
  overflow: hidden;
}
.left__arrow {
  width: 50px;
  height: 50px;
  background-color: #F2DDDE;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -15%;
  transform: translate(15%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 300ms;
  z-index: 10;
  visibility: visible;
}
.left__arrow:hover {
  background: #d3c1c2;
}
.left__arrow img {
  width: 24px;
}
.right__arrow {
  width: 50px;
  height: 50px;
  background-color: #F2DDDE;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 115%;
  transform: translate(-115%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 300ms;
}
.right__arrow:hover {
  background: #d3c1c2;
}
.right__arrow img {
  width: 24px;
}
@media (max-width: 376px) {
  .left__arrow {
    left: -5%;
    transform: translate(5%, -50%);
  }
  .right__arrow {
    left: 105%;
    transform: translate(-105%, -50%);
  }
}
.galery__pag {
  width: 230px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
}
.galery__pag-item {
  width: 7px;
  height: 7px;
  background: black;
  border-radius: 50%;
  margin: 0 2px;
}
.galery__pag-item-active {
  background-color: white;
}
.review {
  background: #1F1C1A;
  padding: 200px 0 100px 0;
}
.review__container {
  max-width: 1170px;
  margin: auto auto;
}
.review__title h2 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 110%;
  color: #FFFFFF;
}
.review__content {
  margin: 60px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.review__block {
  width: 22%;
  cursor: pointer;
}
.review__image {
  max-width: 100%;
}
.review__block-title {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 32px 0 0 0;
}
.review__text {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 17px 0 0 0;
}
.review__button {
  width: 185px;
  height: 45px;
  margin: 24px 0 0 0;
  border: 2px solid #F2DDDE;
  background: #F2DDDE;
  border-radius: 5px;
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.74);
  transition-duration: 300ms;
}
.review__button:hover {
  background: none;
  color: #F2DDDE;
  cursor: pointer;
}
.work {
  padding: 100px 0;
  height: 500px;
  background: url(../img/work__back.svg) no-repeat left 370px/50%;
}
.work__container {
  max-width: 1170px;
  margin: auto auto;
  position: relative;
}
.work__title h2 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 110%;
  color: #FFFFFF;
}
.work__subtitle h3 {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 29px 0 0 0;
  max-width: 500px;
}
.work__text {
  max-width: 500px;
}
.work__text p {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 54px 0 0 0;
}
.work__galery {
  position: absolute;
  left: 95%;
  top: -15%;
  transform: translate(-95%);
  background: url(../img/diplom__galery-back.png) no-repeat center center / 297px, url(../img/galery__effect.svg) no-repeat center 10px/110%;
  width: 400px;
  height: 600px;
}
.work__galery-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work__galery-wrapper .galery__work-img {
  max-width: 257px;
  margin: 30px 0 0 0;
}
.left__work-arrow {
  width: 50px;
  height: 50px;
  background-color: #F2DDDE;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 300ms;
}
.left__work-arrow:hover {
  background: #d3c1c2;
}
.left__work-arrow img {
  width: 24px;
}
.right__work-arrow {
  width: 50px;
  height: 50px;
  background-color: #F2DDDE;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 300ms;
}
.right__work-arrow:hover {
  background: #d3c1c2;
}
.right__work-arrow img {
  width: 24px;
}
.company {
  padding: 100px 0;
}
.why {
  padding: 100px 0 200px 0;
}
.why__container {
  max-width: 1170px;
  margin: auto auto;
}
.why__title {
  padding: 0 0 0 30px;
}
.why__title h2 {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 110%;
  color: #FFFFFF;
  max-width: 846px;
}
.why__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.why__block {
  width: 45%;
  margin: 40px 0 0 0;
  padding: 60px 0 0 30px;
}
.why__back-1 {
  background: url(../img/icon/why-icon-1.svg) no-repeat top left;
}
.why__back-2 {
  background: url(../img/icon/why-icon-2.svg) no-repeat top left;
}
.why__back-3 {
  background: url(../img/icon/why-icon-3.svg) no-repeat top left;
}
.why__back-4 {
  background: url(../img/icon/why-icon-4.svg) no-repeat top left;
}
.why__par-1 {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #FFFFFF;
}
.why__par-2 {
  margin: 14px 0 0 0;
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.8;
}
.about {
  padding: 200px 0 100px 0;
  background: url(../img/about__back.svg) no-repeat 80% -130px/458px;
}
.about__container {
  max-width: 1170px;
  margin: auto auto;
}
.about__title {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 110%;
  color: #FFFFFF;
  margin: 0 0 40px 0;
}
.about__text {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  color: #ffffffc9;
  max-width: 700px;
  margin: 20px 0 0 0;
}
.about__text span {
  opacity: 1;
  font-weight: bold;
  color: white;
  font-family: 'GothamBook';
}
.about__button {
  font-family: 'GothamMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  border: none;
  width: 300px;
  height: 65px;
  background: #BC4F54;
  border-radius: 5px;
  border-top-right-radius: 20px;
  color: white;
  margin: 60px 0 0 0;
  cursor: pointer;
  transition-duration: 300ms;
}
.about__button:hover {
  background: none;
  border: 1px solid white;
}
.footer {
  padding: 50px 0 20px 0;
  background: #1F1C1A;
}
.footer__container {
  max-width: 560px;
  margin: auto auto;
  text-align: center;
}
.footer__logo {
  width: 100px;
}
.footer__par-1 {
  color: #ffffff;
  font-size: 14px;
  font-family: 'GothamLight';
  line-height: 1.55;
  font-weight: 300;
  margin: 40px 0 0 0;
}
.footer__par-2 {
  color: #ffffff;
  font-size: 14px;
  font-family: 'GothamLight';
  line-height: 1.55;
  font-weight: 300;
  margin: 15px 0 15px 0;
}
.footer__par-3,
.footer__par-4,
.footer__par-5,
.footer__par-6 {
  color: #ffffff;
  font-size: 11px;
  font-family: 'GothamLight';
  line-height: 1.2;
  font-weight: 300;
}
.footer__par-5 {
  color: #ff8562;
  margin: 15px 0 15px 0;
}
.footer__par-7,
.footer__par-8 {
  color: #ffffff;
  font-size: 14px;
  font-family: 'GothamLight';
  line-height: 1.55;
  font-weight: 300;
}
.footer__par-7 {
  margin: 15px 0 0 0;
}
.modal__course {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  color: #5c5c5c;
  padding: 100px 0 0 0;
}
.modal__close {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal__close img {
  width: 24px;
  margin: 0 20px 0 0;
  cursor: pointer;
}
.modal__content {
  max-width: 800px;
  background-color: white;
  margin: auto auto;
  padding: 40px 30px;
}
.title {
  font-size: 32px;
  font-family: 'GothamLight';
}
.block {
  font-size: 32px;
  padding: 38px 0;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  margin: 50px 0 0 0;
  text-align: left;
  font-family: 'GothamLight';
}
.course {
  font-size: 28px;
  margin: 30px 0 0 0;
  font-family: 'GothamBook';
}
.course__time {
  font-size: 18px;
  margin: 5px 0 0 0;
  font-family: 'GothamLight';
}
.result__course {
  font-size: 26px;
  margin: 40px 0 0 0;
  font-family: 'GothamBook';
}
.result__info {
  font-size: 18px;
  margin: 5px 0 0 0;
  font-family: 'GothamLight';
}
.course__image {
  margin: 30px 0 0 0;
  max-width: 800px;
}
.course__example {
  margin: 30px 0 0 0;
}
.course__video {
  width: 100%;
  height: 400px;
  background-color: pink;
  margin: 20px 0 0 0;
}
.course__list {
  font-size: 26px;
  margin: 50px 0 0 0;
  font-family: 'GothamLight';
}
.course__lists {
  font-size: 26px;
  margin: 40px 0 0 0;
  font-family: 'GothamBook';
}
.course__list {
  font-size: 18px;
  line-height: 1.55;
  margin: 5px 0 0 0;
}
ul {
  padding: 0 20px 50px 20px;
}
.course__line {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin: 30px 0 40px 0;
}
@media (max-width: 958px) {
  .course__image {
    max-width: 100%;
  }
  .course__example {
    max-width: 100%;
  }
}
.modal__gift {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  color: #5c5c5c;
  padding: 80px 0 100px 0;
}
.modal__gift-close {
  position: fixed;
  width: 48px;
  top: 1%;
  left: 85%;
  cursor: pointer;
}
.modal__gift-button {
  cursor: pointer;
}
.modal__gift-content {
  max-width: 560px;
  background-color: #201d1d;
  margin: auto auto;
}
.modal__gift-content ol {
  list-style: none;
  padding: 0 40px 80px 40px;
}
.modal__gift-image {
  max-width: 100%;
}
.modal__gift-title {
  text-align: center;
  margin: 30px 0 0 0 ;
  color: white;
  font-size: 32px;
  font-family: 'GothamMedium';
}
.modal__gift-link {
  margin: 20px 0 0 0;
  color: white;
  font-size: 18px;
  font-family: 'GothamLight';
}
.modal__team {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  color: #5c5c5c;
  padding: 80px 0 100px 0;
}
.modal__team-close {
  position: fixed;
  width: 48px;
  top: 1%;
  left: 85%;
  cursor: pointer;
}
.modal__team-content {
  max-width: 460px;
  background-color: #201d1d;
  margin: auto auto;
  padding: 40px;
}
.modal__team-content ul {
  list-style: none;
}
.modal__team-list {
  margin: 20px 0 0 0;
  color: white;
  font-size: 18px;
  font-family: 'GothamLight';
}
.modal__team-subtitle {
  text-align: center;
  font-size: 16px;
  color: white;
  font-family: 'GothamXLight';
}
.modal__team-title {
  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0 0 0;
  font-family: 'GothamMedium';
}
.modal__video-invite,
.modal__video-prime,
.modal__video-review-1,
.modal__video-review-2,
.modal__video-review-3,
.modal__video-review-4 {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  color: #5c5c5c;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal__video-content {
  width: 800px;
  height: 450px;
  background-color: gray;
}
@media (max-width: 865px) {
  .modal__video-content {
    width: 500px;
    height: 250px;
  }
}
@media (max-width: 576px) {
  .modal__video-content {
    width: 300px;
    height: 150px;
  }
}
.modal__about-1,
.modal__about-2,
.modal__about-3 {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal__about-content {
  max-width: 600px;
  height: auto;
  background-color: #292525;
  padding: 0 10px;
}
.modal__about-content img {
  max-width: 100%;
}
.modal__about-title {
  color: white;
  font-size: 28px;
  max-width: 540px;
  text-align: center;
  margin: 20px 0 0 0;
  font-family: 'GothamMedium';
}
.modal__about-text {
  margin: 20px auto 20px auto;
  color: white;
  font-size: 18px;
  max-width: 450px;
  font-family: 'GothamLight';
}
.modal__about-close {
  position: fixed;
  left: 85%;
  top: 1%;
  width: 48px;
  cursor: pointer;
}
.modal__about-4 {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: pointer;
  padding: 80px 0 0 0;
}
.modal__about-4 .modal__about-content {
  max-width: 800px;
  margin: auto auto;
  padding: 0 0 100px 0;
}
.modal__about-4 .modal__about-content img {
  width: 100%;
}
.modal__about-4 .modal__about-content .modal__about-title {
  max-width: 100%;
}
.modal__about-4 .modal__about-content .modal__about-text {
  max-width: 90%;
}
.modal__about-4 .modal__about-content .modal__about-subtitle {
  color: white;
  font-size: 22px;
  margin: 20px 0 20px 0;
  max-width: 100%;
  text-align: center;
  font-family: 'GothamBook';
}
.mobile__menu-burger {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  z-index: 30;
  transform: translate(-100%, 0);
}
.mobile__menu-content {
  width: 300px;
  height: 100%;
  background-color: #1d1a1a;
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 20px;
}
.mobile__menu-content a {
  color: white;
  font-size: 18px;
  margin: 20px 0 0 0;
}
.mobile__menu-close {
  width: 32px;
  position: fixed;
  left: 280px;
  top: 5px;
  cursor: pointer;
}
.mobile__menu-logo {
  width: 100px;
}
.form__price-wrapper {
  background-color: #1F1C1A;
  border-radius: 10px;
  padding: 50px 20px 30px 20px;
  margin: 50px 0 0 0;
}
.form__price-title {
  color: white;
  font-size: 18px;
  font-family: 'GothamMedium';
  padding: 0 0 0 25px;
}
.form__price-block {
  display: flex;
  align-items: center;
  padding: 0 0 0 25px;
  margin: -50px 0 0 0;
}
.form__price-block input {
  width: 20px;
  height: 20px;
}
.form__price-block p {
  font-size: 14px;
  color: white;
  margin: 0 0 0 10px;
}
.form__price-block p a {
  color: white;
}
#ltForm8754365 {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 30px 0 0 0;
}
#ltForm8754365 input {
  width: 22%;
  height: 50px;
  padding: 0 0 0 10px;
  font-size: 16px;
  border: 1px solid white;
  background: none;
  border-radius: 8px;
  color: white;
}
#ltForm8754365 input:focus {
  outline: none;
}
#ltForm8754365 button {
  width: 22%;
  height: 50px;
  background: #BC4F54;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
}
#ltForm8754365 button:focus {
  outline: none;
}
@media (max-width: 958px) {
  #ltForm8754365 {
    flex-direction: column;
    text-align: center;
  }
  #ltForm8754365 input {
    width: 90%;
  }
  #ltForm8754365 button {
    width: 92%;
    margin: -100px 0 0 0;
  }
  .form__price-block {
    margin: 30px 0 0 0;
  }
  .form__price-block input {
    width: 40px;
    height: 40px;
  }
  .price__sales {
    width: 130px;
    top: 22%;
  }
  .price__block-2 {
    display: none;
  }
  .price__back {
    width: 200px;
    top: 130px;
    left: 60%;
  }
}
.button__with-decor {
  position: relative;
  transition-duration: 300ms;
}
.button__with-decor:hover .button__decor-black {
  background: white;
}
.button__decor {
  position: absolute;
  top: 7px;
  left: 92%;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
}
.button__decor-black {
  position: absolute;
  top: 7px;
  left: 92%;
  width: 15px;
  height: 15px;
  background: #1a1818;
  border-radius: 50%;
}
