.detailing {
	padding: 100px 0 100px 0;
	&__text {
		max-width: 950px;
		padding: 0 20px;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
		margin: 0px auto 100px auto;
		color: #fff;
	}
	&__services {
	}
	&__services-a {
	}
	&__services-button {
	}
}
