.testimonials {
	padding: 100px 0px 73px 0px;

	&__button {
		margin-bottom: 95px;
	}
	&__content {
		position: relative;
		display: flex;
		justify-content: center;
		padding-top: 25px;
	}

	&__darkline {
		position: absolute;
		background: #0b0c0e;
		height: 265px;
		top: 0;
		width: 100%;
	}

	&__column {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-right: 80px;
		margin-left: 80px;
	}

	&__column-img {
		position: relative;
		z-index: 3;
	}

	&__column-title {
		position: relative;
		z-index: 3;
		color: #a1a1a1;
		margin-top: 15px;
		margin-bottom: 41px;
		text-transform: uppercase;
		max-width: 260px;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
	}

	&__column-text {
		position: relative;
		z-index: 3;
		color: #fff;
		max-width: 408px;
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
	}
	&__column-text2 {
		padding-top: 3px;
	}
	&__column:before {
		display: none;
	}
	&__shadow-left {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.before-after-lines {
	position: relative;
}
.before-after-lines:before {
	display: block;
	content: "";
	height: 370px;
	top: -80px;
	background: #1e2026;
	width: 20px;
	position: absolute;
	z-index: 3;
	left: -85px;
	transform: rotate(38deg);
}
.before-after-lines:after {
	content: "";
	height: 370px;
	top: -80px;
	background: #1e2026;
	width: 20px;
	position: absolute;
	z-index: 3;
	left: 490px;
	transform: rotate(38deg);
}
