<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>spoilers</title>
	<link rel="stylesheet" href="./style.css">
</head>

<body>

	<div class="wrapper" id="app">
		<div class="container">
			<div class="grid-template">
				<template v-for="(course, idx) in courses">
					<type-block position="0" @spoiler='onSpoiler(idx, $event)'></type-block>
					<type-block position="1" @spoiler='onSpoiler(idx, $event)'></type-block>
					<type-block position="2" @spoiler='onSpoiler(idx, $event)'></type-block>
					<div v-if="coursesCounter == courses[idx][0].id" class="grid-template__spoiler-content ">document
						{{courses[idx][0].id}}
					</div>
					<div v-if="coursesCounter == courses[idx][1].id" class="grid-template__spoiler-content ">document
						{{courses[idx][1].id}}
					</div>
					<div v-if="coursesCounter == courses[idx][2].id" class="grid-template__spoiler-content ">document
						{{courses[idx][2].id}}
					</div>
				</template>

			</div>
		</div>
	</div>
	<script src="https://unpkg.com/vue@next"></script>
	<script src="./app.js"></script>
</body>

</html>