@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/10177.eot");
  src: local("☺"), url("../fonts/10177.woff") format("woff"), url("../fonts/10177.ttf") format("truetype"), url("../fonts/10177.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("☺"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: "Gilroy";
}

button {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button:hover {
  -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px);
}

.header {
  position: relative;
  background-color: #fff;
  max-width: 1220px;
  padding: 31px 40px 20px 40px;
  margin: 0 auto;
  height: 146px;
}

.header__1row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  top: 8px;
  position: relative;
  margin-right: 45px;
}

.header__logo:after {
  content: "";
  left: 156px;
  position: absolute;
  height: 40px;
  width: 2px;
  background-color: #97b8f1;
}

.header__block2 {
  position: relative;
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__icon1 {
  position: relative;
}

.header__icon1-img {
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  width: 43px;
  border-radius: 50%;
  cursor: pointer;
}

.header__icon2 {
  margin: 0 18px;
}

.header__icon2-img {
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  width: 43px;
  border-radius: 50%;
  cursor: pointer;
}

.header__icon3-img {
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  cursor: pointer;
  width: 45px;
  border-radius: 50%;
}

.header__icon1-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__icon2-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__icon3-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__contacts {
  margin-right: 25px;
}

.header__telephone {
  font-family: "Arial, Helvetica, sans-serif";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-bottom: 10px;
  cursor: pointer;
}

.header__telephone:hover {
  text-decoration: underline;
}

.header__telephone::before {
  position: absolute;
  top: 5px;
  left: -24px;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../img/icons/telephone.png);
}

.header__mail {
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  cursor: pointer;
  font-family: "Arial, Helvetica, sans-serif";
}

.header__mail:hover {
  text-decoration: underline;
}

.header__mail:before {
  position: absolute;
  top: 39px;
  left: -24px;
  content: "";
  width: 16px;
  height: 12px;
  background: url(../img/icons/mail.png);
}

.header__button {
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
}

.header__button:hover .header__button-p {
  color: #000;
}

.header__2row {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-right: 80px;
}

.header__title-a {
  font-family: "Gilroy";
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__title-a:hover {
  color: #2560c0;
  text-decoration: underline;
}

.header__button-p {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 15px;
  left: 30px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
}

.header__burger {
  display: none;
}

@media (max-width: 1130px) {
  .header__text {
    display: none;
  }
  .header__logo:after {
    display: none;
  }
  .header__title-a {
    font-size: 14px;
  }
  .header__logo-img {
    margin-right: -30px;
  }
  .header__block3 {
    margin-left: 30px;
  }
  .header__block2 {
    margin-right: -200px;
  }
}

@media (max-width: 1000px) {
  .header__block2 {
    margin-right: -100px;
  }
  .header__title-a {
    font-size: 13px;
  }
}

@media (max-width: 900px) {
  .header__block2 {
    margin-right: 0px;
  }
  .header__title-a {
    font-size: 12px;
  }
}

@media (max-width: 748px) {
  .header__button {
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 30;
    margin-top: 18px;
  }
  .header .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header .header__burger:before,
  .header .header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header .header__burger:before {
    top: 0;
  }
  .header .header__burger:after {
    bottom: 0;
  }
  .header .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__2row {
    overflow: auto;
    position: absolute;
    left: -100%;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    top: 146px;
    width: 100%;
    background-color: #fff;
    z-index: 3;
    min-height: 520px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-right: 0;
  }
  .header__2row.active {
    left: 0;
    padding-right: 0;
  }
  .header__title {
    height: 80px;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
  }
  .header__title-a {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .header__block2 {
    left: -100%;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    margin: 0 auto;
    width: 145px;
    top: 600px;
    z-index: 50;
  }
  .header__block2.active {
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
}

@media (max-width: 440px) {
  .header {
    padding: 31px 15px 20px 15px;
  }
  .header__logo-img {
    width: 95px;
    height: 26px;
    margin-top: 6px;
  }
  .header__block3 {
    margin-left: 10px;
    margin-right: -10px;
  }
  .header__title-a {
    font-size: 20px;
  }
}

@media (max-width: 380px) {
  .header__telephone {
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 8px;
    margin-top: 2px;
    cursor: pointer;
  }
  .header__mail {
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    cursor: pointer;
  }
  .header__contacts {
    margin-right: 15px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/10177.eot");
  src: local("☺"), url("../fonts/10177.woff") format("woff"), url("../fonts/10177.ttf") format("truetype"), url("../fonts/10177.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

* {
  font-family: "Gilroy";
}

button {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button:hover {
  -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px);
}

.footer {
  background-color: #333333;
  padding-top: 53px;
  padding-bottom: 20px;
  overflow: hidden;
}

.footer__1row {
  max-width: 1210px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column1 {
  margin-right: 31px;
}

.footer__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  margin-bottom: 27px;
}

.footer__text {
  margin-bottom: 82px;
  color: #fff;
}

.footer__text-block {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #fff;
  margin-bottom: 15px;
}

.footer__column2 {
  margin-right: 31px;
}

.footer__column3 {
  position: relative;
}

.footer__contact-a {
  display: block;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
  margin-bottom: 20px;
  padding-left: 33px;
}

.footer__contact-a:visited {
  color: #fff;
}

.footer__a1 {
  background: top 6px left url(../img/icons/footer-telegram.png) no-repeat;
}

.footer__a2 {
  background: top 6px left url(../img/icons/footer-viber.png) no-repeat;
}

.footer__a3 {
  background: top 6px left url(../img/icons/footer-whatsapp.png) no-repeat;
}

.footer__a4 {
  background: top 6px left url(../img/icons/footer-call.png) no-repeat;
}

.footer__a5 {
  background: top 9px left url(../img/icons/footer-mail.png) no-repeat;
}

.footer__button {
  margin: 20px 0 40px 0;
  position: relative;
}

.footer__button-p {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 12px;
  left: 30px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
}

.footer__button:hover .footer__button-p {
  color: #000;
}

.footer__logo {
  position: absolute;
  bottom: 80px;
}

.footer__copyright {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #565656;
  position: relative;
  margin-bottom: 17px;
}

.footer__copyright:before {
  content: "";
  position: absolute;
  width: 200%;
  bottom: 58px;
  left: -50%;
  height: 2px;
  background-color: #4e4e4e;
}

@media (max-width: 790px) {
  .footer__title {
    font-size: 18px;
  }
}

@media (max-width: 712px) {
  .footer__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__title {
    position: relative;
    cursor: pointer;
    padding: 0px 0px 0px 30px;
    width: 220px;
    margin: 20px auto;
  }
  .footer__text {
    display: none;
  }
  .footer__title:before, .footer__title:after {
    content: "";
    width: 10px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .footer__title:before {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    left: 0;
  }
  .footer__title:after {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    left: 8px;
  }
  .footer__title.active:before, .footer__title.active:after {
    background-color: red;
  }
  .footer__title.active:before {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  .footer__title.active:after {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  .footer__text {
    display: none;
    padding: 10px 0px 0px 0px;
    margin-bottom: 0;
    width: 320px;
    margin-right: -100px;
  }
  .footer__logo {
    position: relative;
    bottom: 10px;
    margin-bottom: 53px;
    width: 156px;
    margin-left: 30px;
  }
  .footer__button {
    margin-left: 10px;
  }
  .footer__contacts {
    display: none;
  }
  .footer__column1, .footer__column2, .footer__title3 {
    margin-right: -0px;
  }
}

@media (max-width: 500px) {
  .footer__columns {
    margin-left: -50px;
  }
}

body {
  overflow-x: hidden;
}

.wrapper-header {
  width: 100%;
  position: absolute;
  margin-left: -7px;
}

.header {
  background-color: inherit;
  position: relative;
}

.header__1row {
  position: relative;
  z-index: 10;
}

.header__2row {
  z-index: 10;
  background-color: inherit;
}

.header__title {
  position: relative;
  z-index: 200;
}

.header__title-a {
  position: relative;
  color: #000;
  z-index: 200;
}

.main {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  position: relative;
  z-index: 1;
  height: 720px;
  background: url(../img/other/kisspng-handyman-architectural-engineering-plumbing-grout-roofing-5ad0e729ab64c0.9858097115236401057021.png) bottom -5px right 464px no-repeat, url(../img/other/1141.png) right no-repeat;
}

.main__content {
  position: relative;
  top: 241px;
  max-width: 1220px;
  padding: 0px 40px 0px 33px;
  margin: 0 auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__title {
  font-family: Gilroy-ExtraBold;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 51px;
  letter-spacing: 0px;
  text-align: left;
}

.main__text {
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 33px;
  margin-top: 33px;
}

.main__text-span {
  font-family: Gilroy-ExtraBold;
  font-size: 24px;
  font-weight: 800;
  line-height: 31px;
}

.main__button {
  width: 202px;
  height: 42px;
  position: relative;
}

.main__button-img {
  cursor: pointer;
  z-index: 1000;
  border-radius: 3px;
}

.main__button-p {
  position: absolute;
  top: 12px;
  left: 67px;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

.block1 {
  margin: 46px 20px 70px 20px;
}

.block1__title {
  font-family: Gilroy-extrabold;
  font-size: 36px;
  font-weight: 800;
  line-height: 46px;
  text-align: center;
  margin-bottom: 37px;
}

.block1__grid-layout {
  margin: 0 auto;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.block1__grid-element-img {
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}

.block2 {
  padding-left: 20px;
  padding-right: 30px;
  background: #f6f6f6;
  padding-top: 42px;
  padding-bottom: 52px;
}

.block2__grid-layout {
  margin: 0 auto;
  gap: 15px;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: 1fr / 1fr 1fr 1fr 1fr;
}

.block2__grid-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block2__grid-element-img {
  max-width: 98px;
  margin-bottom: 15px;
}

.block2__title {
  font-family: Gilroy-extrabold;
  font-size: 21px;
  font-style: normal;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 10px;
}

.block2__text {
  font-family: Gilroy;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  max-width: 209px;
}

.block3 {
  padding-top: 52px;
  padding-bottom: 71px;
}

.block4 {
  background-color: #f6f6f6;
  padding-top: 48px;
  padding-bottom: 74px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider {
  margin: 0 auto;
  max-width: 1250px;
  position: relative;
  padding: 0px 40px;
}

.slider2 {
  margin: 0 auto;
  max-width: 1190px;
  position: relative;
  padding: 0 10px 0 65px;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slick-dots button:hover {
  -webkit-transform: none;
          transform: none;
}

.slider .slick-dots li {
  letter-spacing: none;
  margin: 0 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e4e4e4;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #3f3db6;
}

.slider2 .slick-arrow {
  position: absolute;
  z-index: 100;
  font-size: 0;
  width: 21px;
  height: 39px;
  top: 50%;
}

.slider2 .slick-arrow.slick-prev {
  background: url("../img/other/right.png") 0 0/100% no-repeat;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 5px;
}

.slider2 .slick-arrow.slick-next {
  left: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/other/left.png") 0 0/100% no-repeat;
}

.block5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 73px;
  padding-top: 52px;
}

.block5__news {
  max-width: 1169px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -15px;
}

.block5__event {
  position: relative;
  z-index: 1;
  width: 555px;
  height: 348px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 32px;
  padding-top: 41px;
  background-color: #fafafb;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  background: url(../img/other/fuckingthink.png) top 49px right no-repeat, url(../img/other/phon-gradient.png) right no-repeat;
}

.block5__event-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  max-width: 272px;
}

.block5__event-text {
  max-width: 241px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.block5__button {
  margin-top: 30px;
}

.blue-span {
  color: #86adef;
}

@media (max-width: 1700px) {
  .main {
    background: url(../img/other/kisspng-handyman-architectural-engineering-plumbing-grout-roofing-5ad0e729ab64c0.9858097115236401057021.png) bottom -5px right 264px no-repeat, url(../img/other/1141.png) bottom 0 right -200px no-repeat;
  }
}

@media (max-width: 1347px) {
  .main__title {
    font-size: 32px;
  }
}

@media (max-width: 1240px) {
  .slider {
    max-width: 1000px;
  }
  .slider2 {
    max-width: 900px;
  }
}

@media (max-width: 1200px) {
  .main {
    background: url(../img/other/kisspng-handyman-architectural-engineering-plumbing-grout-roofing-5ad0e729ab64c0.9858097115236401057021.png) bottom -5px right 64px no-repeat, url(../img/other/1141.png) bottom 0 right -200px no-repeat;
  }
  .block1__grid-layout {
    max-width: 892px;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 25px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .block2__grid-layout {
    gap: 35px;
    max-width: 605px;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr / 1fr 1fr;
  }
  .block5__news {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr / 1fr 1fr;
  }
  .block5__event {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    width: 700px;
    background: url(../img/other/fuckingthink.png) top 49px right no-repeat, url(../img/other/phon-gradient.png) right no-repeat;
  }
  .block5__block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block5__block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 980px) {
  .main {
    background: url(../img/other/kisspng-handyman-architectural-engineering-plumbing-grout-roofing-5ad0e729ab64c0.9858097115236401057021.png) bottom -5px right 0px no-repeat;
    background-size: 290px;
    height: 630px;
    border-bottom: 30px solid #f6f6f6;
  }
  .main__title {
    font-size: 26px;
    line-height: 31px;
  }
  .main__text {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .main__text-span {
    font-size: 16px;
  }
  .slider {
    max-width: 720px;
  }
  .slider2 {
    max-width: 620px;
  }
  .slider2 .slick-arrow.slick-next {
    left: 12px;
  }
}

@media (max-width: 910px) {
  .block1__grid-layout {
    max-width: 575px;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
    gap: 25px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .block2__grid-layout {
    gap: 35px;
    max-width: 575px;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr / 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .header {
    padding: 31px 20px 20px 28px;
  }
  .header__2row {
    padding-right: 40px;
  }
  .header__icon2 {
    margin: 0 7px;
  }
  .main__content {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    padding: 0px 20px 0px 20px;
  }
  .main__title {
    font-size: 22px;
    line-height: 28px;
  }
}

@media (max-width: 748px) {
  body.lock .main {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    height: 640px;
    background: url(../img/other/kisspng-handyman-architectural-engineering-plumbing-grout-roofing-5ad0e729ab64c0.9858097115236401057021.png) bottom -5px right -500px no-repeat;
    background-size: 290px;
  }
  body.lock .main__content {
    top: -199px;
  }
  .block5__event {
    width: 100%;
    max-width: 700px;
  }
}

@media (max-width: 680px) {
  .slider {
    max-width: 295px;
    padding: 0;
  }
  .slider2 {
    max-width: 315px;
    padding-right: 45px;
    padding-left: 44px;
  }
  .slider2 .slick-arrow.slick-prev {
    background: url("../img/other/right.png") 0 0/100% no-repeat;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 0px;
  }
  .slider2 .slick-arrow.slick-next {
    left: 0px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: url("../img/other/left.png") 0 0/100% no-repeat;
  }
}

@media (max-width: 640px) {
  .main {
    height: 530px;
    background-size: 200px;
  }
  .main__content {
    top: 229px;
  }
  body.lock .main {
    height: 730px;
  }
  .block1 {
    margin-bottom: 20px;
  }
  .block1__grid-layout {
    max-width: 400px;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
    gap: 25px;
  }
  .block1__grid-element-img {
    width: 175px;
  }
  .block5__news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block5__event {
    background: url(../img/other/fuckingthink.png) bottom center no-repeat, url(../img/other/phon-gradient.png) right no-repeat;
  }
  .block5__block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block5__block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block5__event-title {
    font-size: 20px;
    line-height: 24px;
    max-width: none;
    margin-right: 25px;
  }
  .block5__event-text {
    font-size: 14px;
    line-height: 20px;
    max-width: none;
    margin-right: 20px;
  }
}

@media (max-width: 580px) {
  .main__title {
    font-size: 20px;
    line-height: 24px;
  }
  .block1__title {
    font-size: 23px;
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 30px;
  }
  .block2__grid-layout {
    gap: 35px;
    max-width: 575px;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
  }
  .block2__text {
    max-width: 400px;
  }
}

@media (max-width: 530px) {
  .main {
    height: 530px;
    background-size: 200px;
  }
  .main__content {
    top: 129px;
  }
}

@media (max-width: 435px) {
  .block1__grid-layout {
    max-width: 330px;
    gap: 15px;
  }
  .block1__grid-element-img {
    width: 155px;
  }
}

@media (max-width: 400px) {
  .main {
    height: 630px;
    background: url(../img/other/kisspng-handyman-architectural-engineering-plumbing-grout-roofing-5ad0e729ab64c0.9858097115236401057021.png) bottom -5px center no-repeat;
    background-size: 180px;
  }
  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 139px;
  }
  .main__title {
    text-align: center;
  }
  .header {
    padding: 31px 5px 20px 28px;
  }
  .block1__grid-layout {
    max-width: 300px;
    gap: 15px;
  }
  .block1__grid-element-img {
    width: 135px;
  }
  .block3,
  .block4 {
    padding-bottom: 40px;
  }
  .block5 {
    padding-bottom: 30px;
  }
  .block5__event {
    background: url(../img/other/fuckingthink.png) bottom center no-repeat, url(../img/other/phon-gradient.png) right no-repeat;
    background-size: 243px;
  }
  .block5__event-title {
    font-size: 20px;
    line-height: 24px;
    max-width: none;
    margin-right: 15px;
  }
  .block5__event-text {
    font-size: 14px;
    line-height: 20px;
    max-width: none;
    margin-right: 15px;
  }
  .block5__button {
    margin-top: 10px;
  }
}
