<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="index1.css">
</head>

<body>
	<div class="container" id="app">
		<div class="card">
			<h1 :style="{
				color: inputValue.length < 5 ? 'darkred' : 'darkblue'
			}">{{title}}</h1>
			<div class="form-control">
				<input type="text" :placeholder="placeholderString" v-model="inputValue" @keypress.enter="addNewNote" />
			</div>
			<button class="btn" v-on:click="addNewNote">Добавить</button>
			<hr />
			<ul class="list" v-if="notes.length !== 0">
				<li class="list-item" v-for="(note, idx) in notes">
					<span :class="['bold', {'primary': note.length > 5}]">({{idx +1}}) {{ toUpperCase(note)}}</span>
					<button class="btn danger" v-on:click="removeNote(idx, $event)">Удалить</button>
				</li>
				<hr>
				<li><strong>Общее количество: {{ notes.length }}</strong>
					/ Удвоенное число: {{ doubleCountComputed }}</li>
			</ul>
			<div v-else>Заметок пока нет. Добавьте первую</div>
			<div class="">Если заметок станет больше 7, первая удалиться</div>
			<button class="btn danger delete-all" v-on:click="removeAllNote">Удалить все</button>
		</div>
	</div>

	<script src="https://unpkg.com/vue@next"></script>
	<script src="app1.js"></script>
</body>

</html>